*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} 
nav{
    width: 100%;
    height: 45px;
    background-color: yellow;
    box-shadow: 10px;
}

div logo{
    width: 50px;
    height: 45px;
    

}
.container{
    width: 70%;
    margin: auto;

}
.copy{
    background-color: white;
    text-align: center;
    padding-top: 5%;
}
.DarkMode{
    background-color: lightskyblue;
    text-align:center;
    padding: 6px;
 border-radius: 5px;
   padding-left:none;
   color: white;
   background-color: black;
}

main h1{
    color: red;

}
table{
    width:100% ;
    text-align: center;
}
thead{
    background-color: #5d7ba5;
    color: white;
}
table,
th,
td{
    border: 2px solid;
    border-collapse: collapse;

}
th,
td{
    padding: 8px;
}